
.App {
  text-align: center;
  padding:25px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


// additinal css for flickr app.App
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 49.2%;
}
.span_1_of_4 {
	width: 23.8%;
}

@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}

.thumbnail {
  position: relative;
  width: auto;
  height: 200px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.box_wrapper{
    text-align: left;
    font-size: 0.5em;
    text-overflow: ellipsis;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    width: 80%;
	  border-radius: 25px;
    border: 2px solid #333333;
}
.box_wrapper .upper {
	display: inherit;
}
.box_wrapper .lower {
    float: left;
	height: 80px;
}
.box_wrapper .lower .title {
	color: blueviolet;
}
.box_wrapper .lower .author {
	display: inherit;
}
.desc_text {
	float: left;
}
.tags {
	display: flex;
}


.container {
	overflow-y: scroll
}